/* DarkAlloy
# 
# Ported for GTK3
#
# Copyright (c) Dec 29, 2003 DarkAlloy <scarab@egyptian.net>
# Ported Mar 2023, Rayne <rayne@digitalrayne.net>
#
# The DarkAlloy theme is free software; you can redistribute it and/or
# modify it under the terms of the GNU Library General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# The DarkAlloy theme is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# Library General Public License for more details.
#
# You should have received a copy of the GNU Library General Public
# License along with the DarkAlloy theme; see the file LICENSE.  If
# not, write to the Free Software Foundation, Inc., 59 Temple Place -
# Suite 330, Boston, MA 02111-1307, USA.
*/

/* base */
@define-color base_color #37383f;
@define-color bg_color #27282F;
@define-color fg_color #d8d8d8;

/* hover */
@define-color hover_fg_color @fg_color;
@define-color hover_bg_color #5058a0;

/* selected */
@define-color selected_fg_color #ffffff;
@define-color selected_bg_color #5058a0;

/* active */
@define-color active_fg_color #ffffff;
@define-color active_bg_color #454f60;

/* insensitive (disabled) */
@define-color insensitive_fg_color #000000; /*alpha(#ababab, 0.7);*/
@define-color insensitive_bg_color alpha(#0b0b0d, 0.2);
@define-color insensitive_border_color alpha(#717171, 0.50);

/* button and button-likes */
@define-color button_fg @fg_color;

/* entries */
@define-color entry_active_fg_color @active_fg_color;
@define-color entry_active_bg_color #757f90;

@define-color tooltip_bg_color #000000;
@define-color tooltip_fg_color @fg_color;

@define-color theme_base_color @base_color;
@define-color theme_bg_color @bg_color;
@define-color theme_text_color @text_color;
@define-color theme_fg_color @fg_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;

@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

@define-color theme_main_color #d8d8d8;

@define-color frame_color #707070;
@define-color light_frame_color #808080;
@define-color inactive_frame_color shade(@theme_bg_color, 0.8);

@define-color notebook_active_tab_a #262626;
@define-color notebook_active_tab_b #0c0c0c;

@define-color switch_slider_color #737373;
@define-color switch_slider_border #666666;

@define-color entry_color #303030;
@define-color entry_shadow #999999;

@define-color internal_element_color #8a8a8a;
@define-color internal_element_prelight #a3a3a3;
@define-color internal_element_insensitive shade(@internal_element_color, 0.75);

@define-color progressbar_background_a shade(@theme_selected_fg_color, 1.3);
@define-color progressbar_background_b shade(@theme_selected_fg_color, 0.5);
@define-color progressbar_border #a1a1a1;
@define-color progressbar_pattern #000000;

@define-color less_dark_color #4d4d4d; /*shade(@scroll_slider_color, 1.3)*/
@define-color darker_color #383838;

@define-color menu_controls_color #ffffff;

@define-color focus_border alpha(@theme_fg_color, 0.50);

@define-color trough_bg_color_a #2F2F30;
@define-color trough_bg_color_b #414243;

@define-color active_switch_bg_color @selected_fg_color;

@define-color borders #ababab;

@define-color theme_unfocused_base_color shade(@insensitive_bg_color, 1.015);

@define-color app_notification_a shade(@theme_bg_color, 1.35); /*#656568*/
@define-color app_notification_b shade(@theme_bg_color, 1.05); /*#39393A*/
@define-color app_notification_c @theme_bg_color; /*#333334*/
@define-color app_notification_border #000000;

@define-color content_view_bg @less_dark_color;


* {
    padding: 2px;
    -GtkOptionMenu-indicator-size: { 12, 8 };
    -GtkOptionMenu-indicator-spacing: { 0, 4, 0, 0 };
}

headerbar {
    color: @fg_color;
    background-size: 100% 100%;
    border: 5px solid transparent;
    background-image: url('button-out-bg.png');
    border-image: url('button-out.png') 5 stretch;
}

window, dialog, popover, messagedialog {
  color: @fg_color;
  background-color: @bg_color;
  background-image: url("bg.png");
}

/* hover (prelight) */
*:hover {
    color:      @hover_fg_color;
}

/* active */
*:active {
    color:        @active_fg_color;
    background-color:    @active_bg_color;
}

/* selected */
*:selected {
    color: @selected_fg_color;
    background-color: @selected_bg_color;
}

/* insensitive (disabled) */
*:disabled {
    color: @insensitive_fg_color;
    text-shadow: 1px 1px @insensitive_border_color;
    background-color: @insensitive_bg_color;
}

/*
TODO
 - menu background
 - popover
 - arrows
 - what is shadow?
 - menubar
 - menu
 - menuitem
*/

/* frame */

frame border {
    border: 1px solid @frame_color;
}

/* notebook */

notebook {
    padding: 0px;
    border: 1px solid @frame_color;
}

notebook stack {
    padding: 0px;
}

notebook header {
    padding: 0px;
}

notebook header tabs {
    padding: 0px;
}

header.top tab:checked {
    margin: 0px;
    border-bottom: 0px;
    border-top: 1px solid @light_frame_color;
    border-left: 1px solid @light_frame_color;
    border-right: 1px solid @light_frame_color;
}

header.left tab:checked {
    margin: 0px;
    border-top: 1px solid @light_frame_color;
    border-bottom: 1px solid @light_frame_color;
    border-left: 1px solid @light_frame_color;
    border-right: 0px;
}

header.right tab:checked {
    margin: 0px;
    border-top: 1px solid @light_frame_color;
    border-bottom: 1px solid @light_frame_color;
    border-left: 0px;
    border-right: 1px solid @light_frame_color;
}

header.bottom tab:checked {
    margin: 0px;
    border-top: 0px;
    border-bottom: 1px solid @light_frame_color;
    border-left: 1px solid @light_frame_color;
    border-right: 1px solid @light_frame_color;
}

header tab {
    margin: 0px;
    border-bottom: 1px solid @light_frame_color;
    border-top: 1px solid @light_frame_color;
    border-left: 1px solid @light_frame_color;
    border-right: 1px solid @light_frame_color;
}

/* levelbar */

/* hline & vline - separator */

separator {
    padding: 1px;
    /*background-size: 100% 100%;*/
    border: 0px;
}

paned.horizontal separator {
    min-width: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('handle.png');
}

paned.vertical separator {
    min-width: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('handle-r.png');
}

separator.horizontal {
    background-image: url('line-h.png');
}

toolbar.horizontal separator {
    background-image: url('line-v.png');
}

separator.vertical {
    background-image: url('line-v.png');
    padding: 1px;
}

toolbar.vertical separator {
    background-image: url('line-h.png');
    padding: 1px;
}

/* check and option */

check {
    border: 0px;
    -gtk-icon-source: url('check-n.png');
}

check:checked {
    -gtk-icon-source: url('check-s.png');
}

radio {
    border: 0px;
    -gtk-icon-source: url('radio-n.png');
}

radio:checked {
    -gtk-icon-source: url('radio-s.png');
}

/* arrows */

arrow {
    -gtk-icon-source: url('arrow-up.png');
}

arrow:disabled {
    -gtk-icon-source: url('arrow-up-i.png');
}

/*
    # arrows

    image
    {
      function          = ARROW
      state             = INSENSITIVE
      recolorable       = TRUE
      overlay_file      = "arrow-up-i.png"
      overlay_border    = { 0, 0, 0, 0 }
      overlay_stretch   = FALSE
      arrow_direction   = UP
    }
    image
    {
      function          = ARROW
      recolorable       = TRUE
      overlay_file      = "arrow-up.png"
      overlay_border    = { 0, 0, 0, 0 }
      overlay_stretch   = FALSE
      arrow_direction   = UP
    }
    image
    {
      function          = ARROW
      state             = INSENSITIVE
      recolorable       = TRUE
      overlay_file      = "arrow-down-i.png"
      overlay_border    = { 0, 0, 0, 0 }
      overlay_stretch   = FALSE
      arrow_direction   = DOWN
    }
    image
    {
      function          = ARROW
      recolorable       = TRUE
      overlay_file      = "arrow-down.png"
      overlay_border    = { 0, 0, 0, 0 }
      overlay_stretch   = FALSE
      arrow_direction   = DOWN
    }
    image
    {
      function          = ARROW
      state             = INSENSITIVE
      recolorable       = TRUE
      overlay_file      = "arrow-left-i.png"
      overlay_border    = { 0, 0, 0, 0 }
      overlay_stretch   = FALSE
      arrow_direction   = LEFT
    }
    image
    {
      function          = ARROW
      recolorable       = TRUE
      overlay_file      = "arrow-left.png"
      overlay_border    = { 0, 0, 0, 0 }
      overlay_stretch   = FALSE
      arrow_direction   = LEFT
    }
    image
    {
      function          = ARROW
      state             = INSENSITIVE
      recolorable       = TRUE
      overlay_file      = "arrow-right-i.png"
      overlay_border    = { 0, 0, 0, 0 }
      overlay_stretch   = FALSE
      arrow_direction   = RIGHT
    }
    image
    {
      function          = ARROW
      recolorable       = TRUE
      overlay_file      = "arrow-right.png"
      overlay_border    = { 0, 0, 0, 0 }
      overlay_stretch   = FALSE
      arrow_direction   = RIGHT
    }
*/

/* entry boxes */

entry {
    border-top: 1px solid @entry_color;
    border-left: 1px solid @entry_color;
    border-right: 1px solid @entry_shadow;
    border-bottom: 1px solid @entry_shadow;
    color: @fg_color;
    background-color: @base_color;
}

/* insensitive / disabled */
entry:disabled {
    background-image: url('entry-insensitive.png');
    color: @insensitive_fg_color;
    background-color: @bg_color;
}

/* prelight / hover */
entry:hover {
    color: @fg_color;
    background-color: @hover_bg_color;
}

/* active */
entry:active {
    color: @entry_active_fg_color;
    background-color: @entry_active_bg_color;
}

/* selected */
entry:selected {
    color: @selected_fg_color;
    background-color: @selected_bg_color;
}

/* buttons */

button.text-button, button.font, button.color, header button, spinbutton button, combobox button, filechooserbutton button {
    color: @button_fg;
    background-size: 100% 100%;
    border: 5px solid transparent;
    padding: 0px;
    background-image: url('button-out-bg.png');
    border-image: url('button-out.png') 5 stretch;
}

button.flat, button.flat:disabled {
    background-image: none;
    border-image: none;
}

button box, button label {
    padding: 0px;
}

button.text-button:disabled, button.font:disabled, button.color:disabled, header button:disabled, spinbutton button:disabled, combobox button:disabled, filechooserbutton button:disabled {
    background-image: url('button-out-bg.png');
    border-image: url('button-out.png') 5 stretch;
}

button.text-button:hover, button.font:hover, button.color:hover, header button:hover, spinbutton button:hover, combobox button:hover, filechooserbutton button:hover {
    background-image: url('button-out-pre-bg.png');
    border-image: url('button-out-pre.png') 5 stretch;
}

button.text-button:active, button.font:active, button.color:active, header button:active, spinbutton button:active, combobox button:active, filechooserbutton button:active {
    background-image: url('button-in-pre-bg.png');
    border-image: url('button-in-pre.png') 5 stretch;
}

/* combobox */
combobox, combobox box, combobox cellview, combobox button {
    padding: 0px;
}

/* option menu */

/*
style "DarkAlloy-optionmenu" = "DarkAlloy-default"
{
  # orange focus rectangle
  fg[NORMAL] = "#5454ad"
  fg[INSENSITIVE] = "#5454ad"
  fg[ACTIVE] = "#5454ad"
  fg[SELECTED] = "#5454ad"
  fg[PRELIGHT] = "#5454ad"

  engine "pixmap"
  {
    image
    {
      function         = BOX
      shadow           = IN
      state            = PRELIGHT
      recolorable      = TRUE
      file             = "button-in-pre.png"
      border           = { 9, 9, 9, 9 }
      stretch          = TRUE
    }
    image
    {
      function         = BOX
      shadow           = IN
      recolorable      = TRUE
      file             = "button-in.png"
      border           = { 8, 8, 8, 8 }
      stretch          = TRUE
    }
    image
    {
      function         = BOX
      shadow           = OUT
      state            = PRELIGHT
      recolorable      = TRUE
      file             = "button-out-pre.png"
      border           = { 9, 9, 9, 9 }
      stretch          = TRUE
    }
    image
    {
      function         = BOX
      shadow           = OUT
      recolorable      = TRUE
      file             = "button-out.png"
      border           = { 8, 8, 8, 8 }
      stretch          = TRUE
    }
    image
    {
      function           = TAB
      state              = INSENSITIVE
      recolorable        = TRUE
      overlay_file       = "arrow-down-i.png"
      overlay_border     = { 0, 0, 0, 0 }
      overlay_stretch    = FALSE
    }
    image
    {
      function           = TAB
      recolorable        = TRUE
      overlay_file       = "arrow-down.png"
      overlay_border     = { 0, 0, 0, 0 }
      overlay_stretch    = FALSE
    }
  }
}
*/

/* scrollbar */

scrollbar, scrollbar contents {
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true;
    padding: 0px;
    background-size: 100% 100%;
}

scrollbar:hover, scrollbar:hover trough {
    background-color: @bg-color;
}

scrollbar trough {
    padding: 0px;
    border: 1px solid transparent;
    background-image: url('bg.png');
    border-image: url('trough.png') 1 stretch;
}

scrollbar.vertical slider {
    padding: 0px;
    min-width: 16px;
    background-image: url('slider-v.png');
    border-image: url('slider-v-bg.png') 3 stretch;
}

scrollbar.horizontal slider {
    padding: 0px;
    min-height: 16px;
    background-image: url('slider-h.png');
    border-image: url('slider-h-bg.png') 3 stretch;
}

scrollbar button {
    min-width: 16px;
    min-height: 16px;
}

scrollbar.vertical button.up {
    -gtk-icon-source: url('arrow-up.png');
}

scrollbar.vertical button.down {
    -gtk-icon-source: url('arrow-down.png');
}

scrollbar.horizontal button.up {
    -gtk-icon-source: url('arrow-left.png');
}

scrollbar.horizontal button.down {
    -gtk-icon-source: url('arrow-right.png');
}

/* spin */

@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn); } }

spinner {
  background: none;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic"); }
  spinner:checked {
    opacity: 1;
    animation: spin 1s linear infinite; }
    spinner:checked:disabled {
      opacity: 0.5; }

/* progress bar */

progressbar {
    padding: 0px;
}

progressbar.vertical trough {
    padding: 0px;
    min-width: 18px;
    border: 1px solid transparent;
    background-image: url('bg.png');
    border-image: url('shadow.png') 1 stretch;
}

progressbar.horizontal trough {
    padding: 0px;
    min-height: 18px;
    border: 1px solid transparent;
    background-image: url('bg.png');
    border-image: url('shadow.png') 1 stretch;
}

progressbar.vertical progress {
    padding: 0px;
    min-width: 16px;
    background-image: url('slider-v.png');
    border-image: url('slider-v-bg.png') 3 stretch;
}

progressbar.horizontal progress {
    padding: 0px;
    min-height: 16px;
    background-image: url('slider-h.png');
    border-image: url('slider-h-bg.png') 3 stretch;
}

/* range / scale */

scale {
    padding: 0px;
}

scale.vertical trough {
    padding: 0px;
    min-width: 16px;
    border: 1px solid transparent;
    background-image: url('bg.png');
    border-image: url('shadow.png') 1 stretch;
}

scale.horizontal trough {
    padding: 0px;
    min-height: 16px;
    border: 1px solid transparent;
    background-image: url('bg.png');
    border-image: url('shadow.png') 1 stretch;
}

scale slider {
    padding: 0px;
}

scale.vertical highlight {
    padding: 0px;
    min-width: 16px;
    background-image: url('slider-v.png');
    border-image: url('slider-v-bg.png') 3 stretch;
}

scale.horizontal highlight {
    padding: 0px;
    min-height: 16px;
    background-image: url('slider-h.png');
    border-image: url('slider-h-bg.png') 3 stretch;
}

/* menu bar */

/*
style "DarkAlloy-menubar" = "DarkAlloy-default"
{
  engine "pixmap"
  {
    image
    {
      function         = BOX
      #overlay_file        = "window.png"
      #overlay_border      = { 4, 4, 7, 0 }
      #overlay_stretch     = TRUE
    }
  }
}
*/

/* menu */

/*
style "DarkAlloy-menu"      = "DarkAlloy-default"
{
  bg_pixmap[NORMAL] = "bg.png"

  engine "pixmap"
  {
    image
    {
      function          = BOX
      detail            = "menu"
      recolorable       = TRUE
      file              = "shadow-menu.png"
      border            = { 1, 1, 1, 1 }
      stretch           = TRUE
    }
  }
}
*/

/* menu item */

/*
style "DarkAlloy-menuitem"  = "DarkAlloy-default"
{
  # orange focus rectangle
  fg[NORMAL] = "#5454ad"
  fg[INSENSITIVE] = "#5454ad"
  fg[ACTIVE] = "#5454ad"
  fg[SELECTED] = "#5454ad"
  fg[PRELIGHT] = "#5454ad"

  xthickness            = 4

  engine "pixmap"
  {
    image
    {
      function          = BOX
      recolorable       = TRUE
      file              = "box.png"
      border            = { 3, 3, 3, 3 }
      stretch           = TRUE
    }
  }
}
*/

/* notebook */

/*
#  = "DarkAlloy-default"
style "DarkAlloy-notebook"
{
  # Orange focus rectangle
    fg[NORMAL] = "#5454ad"

  engine "pixmap" 
  {
    image 
    {
      function          = EXTENSION
      state             = ACTIVE
      recolorable       = TRUE
      file              = "ext-bottom-active.png"
      border            = { 8, 8, 9, 1 }
      stretch           = TRUE
      gap_side          = BOTTOM
    }
    image 
    {
      function          = EXTENSION
      recolorable       = TRUE
      file              = "ext-bottom1.png"
      border            = { 7, 7, 8, 1 }
      stretch           = TRUE
      gap_side          = BOTTOM
    }
    image 
    {
      function          = EXTENSION
      state             = ACTIVE
      recolorable       = TRUE
      file              = "ext-top-active.png"
      border            = { 8, 8, 1, 9 }
      stretch           = TRUE
      gap_side          = TOP
    }
    image 
    {
      function          = EXTENSION
      recolorable       = TRUE
      file              = "ext-top.png"
      border            = { 7, 7, 1, 8 }
      stretch           = TRUE
      gap_side          = TOP
    }
    image 
    {
      function          = EXTENSION
      recolorable       = TRUE
      file              = "ext-right.png"
      border            = { 7, 4, 8, 8 }
      stretch           = TRUE
      gap_side          = RIGHT
    }
    image 
    {
      function          = EXTENSION
      recolorable       = TRUE
      file              = "ext-left.png"
      border            = { 4, 7, 8, 8 }
      stretch           = TRUE
      gap_side          = LEFT
    }
    image 
    {
      function          = BOX_GAP
      recolorable       = TRUE
      file              = "shadow-notebook-top.png"
      border            = { 5, 5, 0, 5 }
      stretch           = TRUE
      gap_file          = "trans.png"
      gap_border        = { 0, 0, 0, 0 }
      gap_start_file    = "light.png"
      gap_start_border  = { 0, 0, 0, 0 }
      gap_end_file      = "light.png"
      gap_end_border    = { 0, 0, 0, 0 }
      gap_side          = TOP
    }
    image
    {
      function          = BOX_GAP
      recolorable       = TRUE
      file              = "shadow-notebook-bottom.png"
      border            = { 5, 5, 5, 0 }
      stretch           = TRUE
      gap_file          = "trans.png"
      gap_border        = { 0, 0, 0, 0 }
      gap_start_file    = "light.png"
      gap_start_border  = { 0, 0, 0, 0 }
      gap_end_file      = "light.png"
      gap_end_border    = { 0, 0, 0, 0 }
      gap_side          = BOTTOM
    }
    image 
    {
      function          = BOX_GAP
      recolorable       = TRUE
      file              = "shadow-notebook-left.png"
      border            = { 5, 5, 5, 5 }
      stretch           = TRUE
      gap_file          = "trans.png"
      gap_border        = { 0, 0, 0, 0 }
      gap_start_file    = "light.png"
      gap_start_border  = { 0, 0, 0, 0 }
      gap_end_file      = "light.png"
      gap_end_border    = { 0, 0, 0, 0 }
      gap_side          = LEFT
    }
    image 
    {
      function          = BOX_GAP
      recolorable       = TRUE
      file              = "shadow-notebook-right.png"
      border            = { 5, 5, 5, 5 }
      stretch           = TRUE
      gap_file          = "trans.png"
      gap_border        = { 0, 0, 0, 0 }
      gap_start_file    = "light.png"
      gap_start_border  = { 0, 0, 0, 0 }
      gap_end_file      = "light.png"
      gap_end_border    = { 0, 0, 0, 0 }
      gap_side          = RIGHT
    }
  }
}
*/

/* tooltip */

/*
style "DarkAlloy-tooltips"  = "DarkAlloy-default"
{
  bg[NORMAL] = "#454f60"

  engine "pixmap"
  {
    image
    {
      function          = FLAT_BOX
      recolorable       = TRUE
      file              = "tooltip.png"
      border            = { 1, 1, 1, 1 }
      stretch           = TRUE
    }
  }
}
*/

/* ruler */

/*
style "DarkAlloy-ruler"     = "DarkAlloy-default"
{
  engine "pixmap"
  {
    image
    {
      function          = BOX
      file              = "ruler.png"
      border            = { 0, 1, 0, 1 }
      stretch           = TRUE
    }
  }
}
*/

/* dialog */

/*
style "DarkAlloy-dialog" = "DarkAlloy-default"
{
  engine "pixmap"
  {
    image
    {
      function            = FLAT_BOX
      recolorable         = TRUE
      file                = "bg.png"
      border              = { 0, 0, 0, 0 }
      stretch             = FALSE
      overlay_file        = "window.png"
      overlay_border      = { 4, 4, 7, 0 }
      overlay_stretch     = TRUE
    }
  }
}
*/

/* tree view */

treeview {
    background-color: @base_color;
}
